---
title: Ivan Byte
layout: layouts/home.njk
description: Ivan Byte Blog
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div class="avatar-block">
  <img class="avatar" src="https://pbs.twimg.com/profile_images/1577410631044681729/YhORDNcV_400x400.jpg">
  <span class="avatar-text">I'm Ivan, a skilled Java developer turned rookie Rust enthusiast, tackling complexity with passion and sharing my ongoing learning journey in software development on my blog.</span>
</div>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>